// Accent Violet
$accent1-primary: rgb(45, 91, 255);
$accent1-secondary: #6284FD;
$accent1-tertiary: #96ADFF;
$accent1-quaternary: #ECF0FF;
$hover-state: #1B4AF0;
$click-state: #002ED0;

// Background
$bg-light: #FFFFFF;
$bg-darken: #F8F8F8;

// Greyscale
$text-primary: #181818;
$text-secondary: #5C5C5C;
$text-tertiary: #747474;
$icon-color: #7C7B7B;
$stroke-color: #D7D7D7;
$divider-color: #EDEDED;
$disabled-text: #8A8A8A;
$disable-bg: #EFEFEF;
$white: #FFFFFF;
$text-on-color-plashes: #181818;

// Accent Orange
$accent2-primary: #FF7F37;
$accent2-secondary: #FC9D68;
$accent2-tertiary: #FFD5BE;
$accent2-quaternary: #FFECE1;

// System colors
$successful-hover: #28B411;
$successful: #3AC922;
$successful-secondary: #B2FFA6;
$successful-tertiary: #E6FFE2;
$attention-hover: #F6D523;
$attention: #F6D523;
$attention-secondary: #FFEF98;
$attention-tertiary: #FFFAE1;
$error-hover: #ED2121;
$error: #FF3030;
$error-secondary: #FFC0C0;
$error-tertiary: #FFF2F2;
