:root {
  --header-heigth: 64px;
  --sidebar-width: 300px;
  --box-shadow-z100: 0px 0px 10px 0px #84848426;
  --box-shadow-z200: 0px 0px 20px 0px #84848433;
  --box-shadow-z300: 0px 0px 30px 0px #84848440;
  --light-blue-Alina: #E9F5FF;
  --blue-Alina: #233D82;
}