@import "src/app/styles/colors";

.header {
  &._wrapper {
    position: fixed;
    right: 0;
    z-index: 1001;
    top: 0;
    height: var(--header-heigth);
    background: var(--light-blue-Alina);
    backdrop-filter: blur(8px);
    border-bottom: 1px solid $disable-bg;
    width: calc(100% - var(--sidebar-width));
    padding: 0 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &._menu-hamburger {
    display: none;
  }
}

@media screen and (max-width: 1160px) {
  .header {
    &._wrapper {
      width: 100%;
    }

    &._menu-hamburger {
      display: block;
    }
  }
}